<!doctype html>
<html>

<head>
	<% include ../partials/header %>
</head>
<style>
	.profile_img {
		border-radius: 50%;
		width: 175px;
	}

	.card-columns {
		column-count: 2;

		@include media-breakpoint-only(sm) {
			column-count: 1;
		}
	}

	p {
		font-size: 20px;
	}
</style>

<body>
	<% include ../partials/navbar %>
	<div class="container">
		<div class="row border mt-3 p-4">
			<!-- <img class="profile_img" src="/assets/static/default_avatar.png" alt="Avatar"> -->
			<div class="col ml-3 my-auto">
				<h3>
					Company
					<%=user[0].companyname%>
				</h3>
				<p>
					<%=user[0].desc%>
				</p>
				<p>Email:
					<%=user[0].email%>
				</p>
				<p>Tags: </p>
			</div>
		</div>
		<div class="row justify-content-center">
			<h2 class="m-4">Available Projects</h2>
		</div>
		<div class="card-columns">
			<% for(var i=0; i < projects.length; i++) { %>
			<% if (projects[i].status == "open") {%>
			<div class="card">
				<% if (projects[i].img) {%>
				<img class="card-img-top" src="..." alt="Card image cap">
				<% } %>
				<div class="card-body">
					<h5 class="card-title">
						<%= projects[i].name %>
					</h5>
					<p class="card-text">
						<%= projects[i].description %>
					</p>
					<p class="card-text">
						Payrate : $
						<%= projects[i].payrate %>
					</p>
					<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
					<button class="btn btn-primary m-3" style="position: absolute;bottom: 0;right: 0;">Apply</button>
				</div>
			</div>
			<% } %>
			<% } %>
		</div>
	</div>
	<br>
	<br>
	<br>
	<% include ../partials/footer %>
</body>

</html>