<!doctype html>
<html>

<head>
	<% include ../partials/header %>
</head>
<style>
	.profile_img {
		border-radius: 50%;
		width: 175px;
	}

	p {
		font-size: 20px;
	}
</style>

<body>
	<% include ../partials/navbar %>
	<div class="container">
		<div class="row border mt-3 p-4">
			<div class="col-2">
				<img class="col-2 profile_img" src="assets/static/default_avatar.png" alt="Avatar">
				<p style="text-align: center; font-size:16px;" class="margin mt-2">
					<a href="#">
						Change Picture
					</a>
				</p>
			</div>
			<div class="col-8 ml-3 my-auto">
				<h3>
					<%=user[0].name%>
				</h3>
				<p>
					<%=user[0].desc%>
				</p>
				<p>Email:
					<%=user[0].email%>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<h2 class="m-4">Current Projects</h2>
				</div>
				<div class="row">
					<table class="table border">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Organization</th>
								<th scope="col">Payrate</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i < projects.length; i++) { %>
							<% if (projects[i].status == "inprogress") {%>
							<tr>
								<th scope="Name">
									<%= projects[i].name%>
								</th>
								<td>
									<%= projects[i].companyname%>
								</td>
								<td>
									<%= projects[i].payrate%>
								</td>
							</tr>
							<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
				<div class="row">
					<h2 class="m-4">Completed Projects</h2>
				</div>
				<div class="row">
					<table class="table border">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Organization</th>
								<th scope="col">Payrate</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i < projects.length; i++) { %>
							<% if (projects[i].status == "completed") {%>
							<tr>
								<th scope="Name">
									<%= projects[i].name%>
								</th>
								<td>
									<%= projects[i].companyname%>
								</td>
								<td>
									<%= projects[i].payrate%>
								</td>
							</tr>
							<% } %>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<h2 class="m-4">Skills: </h2>
				<ul class="list-group list-group-flush">
					<% for(var i=0; i < skills.length; i++) { %>
					<li class="list-group-item">
						<%= skills[i].skill%>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<% include ../partials/footer %>
</body>

</html>